/* .title
{
    display: flex;
    justify-content: center;
    margin: 40px 40px;
}

.intro
{
    display: flex;
}


.intro-left
{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}


.intro-menu
{
    color: #777777;
    width: 220px;
    margin-top: 20px;
}


.intro-menu :hover
{
    background-color: #0F8563;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.intro-menu-text
{
    
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    text-decoration: none;
    color: #777777;
}

.intro-menu-text1
{
    
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    background-color: #0F8563;
    color: white;
    text-decoration: none;
    font-weight: bold;
}



.intro-right
{
    padding-left: 40px;
    
}

.intro-right > h1{
    font-size: 30px;
    padding-bottom: 32px;
} */




.intro-box
{
    border: 2px dotted #dcdcdc;
    border-radius: 8px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 800px;
    padding-right: 50px;
    padding-left: 50px;
}




.mark-img
{
    width: 20px;
    height: 20px;
    padding: 8px;
}



.img-gray-box
{
    
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 20px 20px;
    margin: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-gray-box > img
{
    width: 860px;
}


.inform
{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}



.text-padding
{
    width: 80px;
    padding: 18px 40px;
    padding-right: 40px;

}



.inform-right-text
{
    color: #777777;
    padding: 18px 20px;
    padding-right: 0;
    overflow-wrap: normal;
}

.inform-right-text2
{
    color: #979797;
    font-size: 14px;
    
}

