*
{
    margin: 0;
    padding: 0;
}

.container
{
    width: 1200px;
    margin: auto;
}

.navigation
{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
    
}

.logo
{
    width: 200px;
}

.menu-box
{
    display: flex;
}


.menu
{
    position: relative;
}

.menu:hover > .dropdown
{
    display: block;    
}

.menu-title
{
    padding: 29px 32px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.menu-title:hover
{
    color: #0F8563;
}



.dropdown
{
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: white;
    left: 0;
    top: 100%;
    box-shadow: 0  4px 4px 0 #dcdcdc;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    display: none;
    border-top: 2px solid #0F8563;
}

.dropdown-item
{
    color: #777777;
    text-decoration: none;
    padding: 12px;
    display: block;
}

.dropdown-item:hover
{
    color: #0F8563;
    text-decoration: underline;
}


.menu:hover .menu-title,
.dropdown:hover ~ .menu-title,
.dropdown-item:hover ~ .menu-title {
    color: #0F8563;
}


title
{
    display: flex;
    justify-content: center;
    margin: 40px 40px;
}

.intro
{
    display: flex;
}


.intro-left
{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}


.intro-menu
{
    color: #777777;
    width: 220px;
    margin-top: 20px;
    
    

}


.intro-menu :hover
{
    background-color: #0F8563;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.intro-menu-text
{
    
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    text-decoration: none;
    color: #777777;
}

.intro-menu-text1
{
    
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    background-color: #0F8563;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.intro-right
{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 904px;
}

.intro-right > h1
{
    font-size: 30px;
    padding-bottom: 32px;
}





.text-bold
{
    font-weight: bold;
}

.text-title
{
    font-size: 24px;
}

.text-sub-title
{
    font-size: 20px;
}

.text-sub
{
    color: #777777;
}

.text-gray
{
    color: #cac6c6d7;
}


.text-green
{
    color: #0F8563;
}

.text-yellow
{
    color: rgb(255, 208, 0);
}



.banner-img
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 36px;
}


.footer
{
    width: 100%;
    height: 160px;
    background-color: #3B414D;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    padding-left: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer-sub
{
    margin-bottom: 24px;
    cursor: pointer;

}

